{% extends "layout.njk" %}
{% block content %}
{% include "./partials/block-1.njk" %}
{% include "./partials/block-2.njk" %}
{% include "./partials/block-3.njk" %}
{% include "./partials/block-4.njk" %}
{% include "./partials/block-5.njk" %}
{% endblock %}
