<!doctype html>
<html lang="en">
  <head>
    <title>Tailwind Starter Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../assets/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    {# Barre de navigation  #}
    <header class="">
        <H1>NEW Project github</H1>
    </header>
    {# MAIN #}
    <main class="">
      {% block content %}
      Pas de contenu
      {% endblock %}
    </main>
    {# FOOTER #}
    <footer class="">

    </footer>
  </body>
</html>