
    <div class="px-4 sm:mx-auto sm:max-w-container sm:relative sm:text-center sm:mb-24 border-b border-solid">
    <p class="text-2xl font-bold leading-tight text-blue-card pb-8">Trusted by the world’s most innovative businesses – big and small</p>
    <p class="text-2xl leading-normal pb-8">“Comprehensive set of startup tools for all imaginable entrepreneurial needs. Create landing pages, send emails, find freelancers. Perfect for sales, marketing, and support”</p>
    <p class="font-bold leading-normal">Viella Malkovich</p>
    <p class="opacity-50 pb-8">Creative Director at Johnson</p>
    <p class="pb-16 sm:pb-20">...</p>
            <img class="h-full sm:h-60 w-full sm:w-68 sm:absolute bottom-0 right-0" src="../assets/img/ballon.png" alt="">

    </div>
<hr>