<div class="flex flex-col sm:flex-row sm:mx-auto sm:max-w-container sm:mb-32 mb-12">
    <div class="flex justify-between sm:w-full flex-wrap">
        {% include "../components/logopub.njk" %}
        {% include "../components/logopub.njk" %}
        {% include "../components/logopub.njk" %}
        {% include "../components/logopub.njk" %}
        {% include "../components/logopub.njk" %}
        {% include "../components/logopub.njk" %}
    </div>
</div>