<div id="container" class="bg-gray-bloc-1 sm:mb-16">
    <div id="bloc-1" class="flex flex-col sm:flex-row sm:justify-between sm:mx-auto sm:max-w-container text-xl px-4 py-10 sm:py-16 font-bold leading-normal">
        <div class="mb-5 sm:mb-0 sm:mr-8 sm:w-3/5">
            <p>What is it about?</p>
            <p class="font-normal sm:font-bold">Building a website for a startup that looks amazing is not a rocket science anymore.</p>
        </div>
        <div class:"sm:w-1/2">
            <p>Who is it for?</p>
            <p class="font-normal">Startups, small companies and teams, entrepreneurs and web developers.</p>
        </div>
    </div>
</div>