<div class="px-4 py-12 flex flex-col items-center sm:px-48 sm:py-32 bg-blue-block6">
    <div class="text-center sm:w-132">
        <p class="text-xl font-bold leading-tight mb-2 sm:mb-4">Engage Visitors</p>
        <p class="text-4xl sm:text-5xl font-bold leading-snug sm:leading-none sm:tracking-tight mb-2 sm:mb-8">Understand your audience</p>
        <p class="text-2xl leading-snug mb-8 sm:mb-8">Early stage company? Eligible applicants get all of our products for just $49 a month.</p>
        <div class="mb-12 sm:mb-28">
            {% include "../components/btnblue.njk" %}
            {% include "../components/btnwhite.njk" %}

        </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between">
        {% include "../components/cardblock6.njk" %}
        <img class=" h-full w-full "src="../assets/img/rush-b6-1.png" alt="">
        <p class="text-black text-center text-xl font-bold">Developers</p>
        </div>
        {% include "../components/cardblock6.njk" %}
        <img class=" h-full w-full "src="../assets/img/rush-b6-2.png" alt="">
        <p class="text-black text-center text-xl font-bold">Entertainment</p>
        </div>
        {% include "../components/cardblock6.njk" %}
        <img class=" h-full w-full "src="../assets/img/rush-b6-3.png" alt="">
        <p class="text-black text-center text-xl font-bold">Athletes</p>
        </div>
        {% include "../components/cardblock6.njk" %}
        <img class=" h-full w-full "src="../assets/img/rush-b6-4.png" alt="">
        <p class="text-black text-center text-xl font-bold">Creators</p>
        </div>
    </div>
</div>