<div class="px-4 py-12 sm:px-48 sm:py-32 bg-blue-block6">
    <div class="text-center">
        <p>Engage Visitors</p>
        <p>Understand your audience</p>
        <p>Early stage company? Eligible applicants get all of our products for just $49 a month.</p>
        <div>
            {% include "../components/btnblue.njk" %}
            {% include "../components/btnblue.njk" %}

        </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between">
        {% include "../components/cardblock6.njk" %}
        </div>
        {% include "../components/cardblock6.njk" %}
        </div>
        {% include "../components/cardblock6.njk" %}
        </div>
        {% include "../components/cardblock6.njk" %}
        </div>
    </div>
</div>