<div class="bg-rose-header">
    <div class="flex px-4 py-12 sm:mx-auto sm:max-w-container sm:justify-between flex-col sm:flex-row sm:py-32 sm:mb-24">
        <div class=" w-full sm:w-112 order-2">
            <div class="">
                <p id="a" class="text-xl font-bold text-red-block4 leading-normal mb-4 sm:mb-8">Team Inbox</p>
                <p id="b" class="text-4xl font-bold sm:text-5xl leading-none mb-4 sm:mb-8">Manage conversations</p>
                <p id="c" class="text-2xl leading-snug mb-8 sm:mb-12">One place to manage and respond to all conversations
                    with leads and users. Receive messages from leads.</p>
                {% include "../components/vignette.njk" %}
            </div>
        </div>
        <div id="img_right" class="flex w-full order-1 h-88 sm:relative sm:flex-col sm:h-128 sm:w-140">
            <img class="" src="../assets/img/rush-4.png" alt="">
            <p id="d" class="hidden sm:block sm:absolute text-sm text-center leading-normal opacity-50 bottom-0" style="left: 20%;">Connect with customers and
                grow faster</p>
        </div>
    </div>
</div>