<div class="sm:relative sm:mb-24">
    <div id="img_right" class="hidden sm:block w-full  sm:h-block-3-h sm:absolute">
        <img class="sm:h-full shadow rounded absolute right-0" src="../assets/img/invision-screen.png" alt="">
    </div>
    <div id="img_left" class="hidden sm:flex sm:absolute  items-center"
        style="left: -110px;width: 225px;height: 180px;top: 50%;">
        <img class="" src="../assets/img/rush-5.png" alt="">
    </div>
    <div class="flex sm:mb-24 sm:relative px-4 sm:mx-auto sm:max-w-container">
        <div class="sm:w-120">
            <div class="">
                <p id="a" class="text-xl font-bold text-green-block3 leading-normal mb-4 sm:mb-8">Features</p>
                <p id="b" class="text-4xl font-bold sm:text-5xl leading-none mb-4 sm:mb-8">Easily find leads and
                    customers
                </p>
                <p id="c" class="text-2xl leading-snug mb-8 sm:mb-12">Send one-off and automated email, push, and in-app
                    messages to people. Create better stories.</p>
            </div>
            <div id="img_resp" class="sm:hidden w-full h-64 mb-4">
                <img class="h-full" src="../assets/img/invision-screen.png" alt="">

            </div>
            <div class="">
                <p id="d_resp" class="sm:hidden text-sm text-center leading-normal opacity-50 mb-12">A better way to
                    acquire
                    new users</p>
            </div>
            <div id="f" class="hidden sm:block">
                <div class="">
                    <div id="f1" class="flex items-start mb-3">
                        <div class="h-4 w-4 mr-4 fill-blue"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M15,15l-8,2l2-8l8-2L15,15z" />
                                <circle cx="12" cy="12" r="2" /></svg></div>
                        <a class="text-xl font-bold leading-tight text-blue-btn" href="">Acquire new customers</a>
                    </div>
                    <p class="text-lg leading-normal sm:pb-5 sm:mb-5 sm:border-b-2 border-blue-500">
                        Everything you need to start building – including open-source code, documentation.</p>
                </div>
                <div id="f2" class="flex items-start mb-12">
                    <div class="h-4 w-4 mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M2,8v4.001h1V18H2v3h1h3h2h3h2h3h2l3,0.001V21h1v-3h-1v-5.999h1V8L12,2L2,8z M6,18v-5.999h2V18H6z M11,18v-5.999h2V18H11z M18,18h-2v-5.999h2V18z M14,8c0,1.104-0.896,2-2,2s-2-0.896-2-2s0.896-2,2-2S14,6.896,14,8z" />
                            </svg></div>
                    <a class="text-xl font-bold leading-tight sm:pb-5 sm:border-b sm:w-full" href="">Engage users</a>
                </div>
                <div id="f3" class="flex items-start">
                    <div class="h-4 w-4 mr-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M20,3H4C2.897,3,2,3.897,2,5v8v1v5c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2v-5v-1V5C22,3.897,21.103,3,20,3z M19,12h-3 h-0.142c-0.446,1.722-1.997,3-3.858,3s-3.412-1.278-3.858-3H8H4V5h16v7H19z" />
                            </svg></div>
                    <a class="text-xl font-bold leading-tight sm:pb-5  sm:border-b sm:w-full" href="">Develop across
                        platforms</a>
                </div>
            </div>
        </div>
    </div>
</div>