<div id="container" class="hidden sm:block flex items-center h-bloc-1 bg-gray-bloc-1">
    <div id="bloc-1" class="flex mx-auto max-w-container">
        <div class="mr-8">
            <p>What is it about?</p>
            <p>Building a website for a startup that looks amazing is not a rocket science anymore.</p>
        </div>
        <div>
            <p>Who is it for?</p>
            <p>Startups, small companies and teams, entrepreneurs and web developers.</p>
        </div>
    </div>
</div>