<div class="sm:mx-auto sm:max-w-container sm:mb-32 mb-12">
    <div class="flex flex-row sm:justify-between sm:w-full sm:items-center flex-wrap">
        {% include "../components/logopub.njk" %} src="../assets/img/nytimes.png" alt="">
</div>
        {% include "../components/logopub.njk" %} src="../assets/img/forbes.png" alt="">
</div>
        {% include "../components/logopub.njk" %} src="../assets/img/apple.png" alt="">
</div>
        {% include "../components/logopub.njk" %} src="../assets/img/marshall.png" alt="">
</div>
        {% include "../components/logopub.njk" %} src="../assets/img/wsj.png" alt="">
</div>
        {% include "../components/logopub.njk" %} src="../assets/img/google.png" alt="">
</div>
    </div>
</div>