<div class="flex px-4 py-12 sm:px-48 flex-col bg-rose-header sm:flex-row sm:py-32">
    <div class=" w-full order-2">
        <div class="">
            <p id="a" class="text-xl font-bold text-red-block4 leading-normal mb-4 sm:mb-8">Team Inbox</p>
            <p id="b" class="text-4xl font-bold sm:text-5xl leading-none mb-4 sm:mb-8">Manage conversations</p>
            <p id="c" class="text-2xl leading-snug mb-8 sm:mb-12">One place to manage and respond to all conversations
                with leads and users. Receive messages from leads.</p>
            {% include "../components/vignette.njk" %}
        </div>
    </div>
    <div id="img_right" class="flex w-full order-1 h-88 sm:h-full sm:flex-col sm:mr-48  ">
        <img class="w-full mb-4" src="../assets/img/rush-4.png" alt="">
        <p id="d" class="hidden sm:block text-sm text-center leading-normal opacity-50">Connect with customers and
            grow faster</p>
    </div>
</div>