<div class="px-4 sm:mx-auto sm:max-w-container text-center sm:mb-24">
    <p class="text-4xl sm:text-5xl font-bold leading-none tracking-tighter pb-8">We’re hiring</p>
    <p class="text-2xl leading-normal pb-8">We’re a team of lifelong learners. We’re equal <br> parts left and right
        brained.</p>
    <button class="w-full mb-6 sm:mb-0 sm:w-64 h-12 rounded shadow bg-blue-btn text-white font-bold pb-8">More about
        Company</button>
    <div class="w-full sm:w-block-8-w sm:mx-auto">
        <div class="flex justify-around">
                <p class="sm:w-104 text-left">Front-End Developer</p>
                <p>Los Angeles / Remote</p>
                <p>></p>
        </div>
        <div class="flex">
            <div class="flex justify-around">
                <p class="sm:w-104 text-left">Front-End Developer</p>
                <p>Los Angeles / Remote</p>
            </div>
            <div>
                <p>></p>
            </div>
        </div>
        <div class="flex">
            <div class="flex justify-around">
                <p class="sm:w-104 text-left">Front-End Developer</p>
                <p>Los Angeles / Remote</p>
            </div>
            <div>
                <p>></p>
            </div>
        </div>
    </div>
</div>