<div class="px-4 pt-8 sm:mx-auto sm:max-w-container text-center mb-24">
    <p class="text-4xl sm:text-5xl font-bold leading-none tracking-tighter pb-8">We’re hiring</p>
    <p class="text-2xl leading-normal pb-8">We’re a team of lifelong learners. We’re equal <br> parts left and right
        brained.</p>
    <button class="w-full sm:w-64 h-12 rounded shadow bg-blue-btn text-white font-bold sm:mb-24 mb-8">More about
        Company</button>
    <div class="w-full sm:w-block-8-w sm:mx-auto shadow rounded-lg border border-solid p-5 mb-5 hover:bg-blue-btn hover:text-white">
        <div class="flex justify-around">
                <p class="sm:w-104 text-lg font-bold leading-tight text-left">Front-End Developer</p>
                <p>Los Angeles / Remote</p>
                <p>></p>
        </div>
        </div>
        <div class="w-full sm:w-block-8-w sm:mx-auto shadow rounded-lg border-solid border p-5 mb-5 hover:bg-blue-btn hover:text-white">
            <div class="flex justify-around">
                <p class="sm:w-104 text-lg font-bold leading-tight text-left">Community Manager</p>
                <p>New York / Full-Time</p>
                <p>></p>
            </div>
        </div>
        <div class="w-full sm:w-block-8-w sm:mx-auto shadow rounded-lg border border-solid p-5 mb-5 hover:bg-blue-btn hover:text-white">
            <div class="flex justify-around">
                <p class="sm:w-104 text-lg font-bold leading-tight text-left">UX/UI Designer</p>
                <p>New York / Full-Time</p>
                <p>></p>
            </div>
        </div>
    </div>
</div>