<div class="bg-gray-block1 sm:h-112">
    <div class="flex flex-col sm:flex-row px-4 py-12 sm:mx-auto sm:max-w-container items-center sm:justify-around h-full">
    <img class="sm:w-72 sm:h-80" src="../assets/img/chien.png" alt="">
        <div class="flex flex-col">
        <p class="text-4xl font-bold tracking-tight mb-3">Start your free trial.</p>
        <p class="text-xl leading-normal mb-6">Get notified about company updates, news and <br class="none sm:block"> blog posts. We hate spam.</p>
            <div class="mb-2">
                <input class="sm:w-96 w-full rounded p-3 mb-2" type="email" name="" placeholder="Entrez votre email" id="">
                            {% include "../components/btnblue.njk" %}
            </div>
        
        <p class="text-sm opacity-50">Free 14-day trial · Easy setup · Cancel any time. Check out <span> Terms of Use.</span></p>
        </div>
    </div>
</div>