<div class="bg-rose-header">
    <div class="sm:mx-auto sm:max-w-container">
        <div id="header__top" class="p-4 bg-white sm:w-full sm:bg-transparent flex justify-between mb-8 sm:mb-20">
            <div id="header__top__left" class="flex w-full sm:justify-start justify-between">
                <div id="logo" class=" w-12 h-12 mr-4 sm:w-16 sm:h-16 sm:flex sm:items-center">
                    <img src="../assets/img/icon.png" alt="">
                </div>
                <div id="name" class="flex w-full sm:justify-center sm:flex-col">
                    <p class="text-xl text-text-black font-bold">Foundation</p>
                    <p class=" hidden text-lg text-text-black opacity-50 sm:block">Startup landing template</p>
                </div>
                <div class="flex items-center pl-4 border-solid border-l-2 sm:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" /></svg>
                </div>
            </div>
            <div id="header__top__right" class="hidden sm:flex justify-around w-full items-center w-header-menu">
                <div class="flex justify-between w-header-link">
                    <a class="text-lg text-text-black font-bold" href="">Home</a>
                    <a class="text-lg text-text-black opacity-50" href="">Stories</a>
                    <select class="text-lg text-text-black opacity-50 h-6 bg-transparent" name="" id="">
                        <option value="">Library</option>
                    </select>
                </div>
                <button class="hidden sm:block w-40 h-12 rounded shadow bg-blue-btn text-white font-bold">Get
                    Started</button>
            </div>
        </div>
        <div id="header__bottom" class="sm:flex px-4 pb-8 sm:pb-12">
            <div id="header__bottom__left">
                <div>
                    <p class="sm:relative sm:w-header text-5xl sm:text-xxl leading-none text-text-black break-normal font-bold mb-6 sm:mb-8 sm:z-10">
                        Build stunning websites & apps.
                    </p>
                    <p class="text-2xl leading-snug mb-8 sm:relative sm:w-header-h-img sm:z-10">Create live segments and target the right
                        people for
                        messages based on their behaviors.</div>
                    <div class="sm:mb-16">
                        {% include "../components/btnblue.njk" %}
                        {% include "../components/btnwhite.njk" %}
                    </div>
                </div>
            </div>
            <div id="header__bottom__right" class="h-full sm:h-header-h-img sm:absolute"  style="@media (min-width: 640px);
                                                            top: 140px; right:130px;">
                <img class="sm:h-header-h-img " src="../assets/img/rush-1.png" alt="">
            </div>
        </div>
    </>
</div>