<div class="flex flex-col py-4 sm:pr-8">
    <div class="mb-2">
        <span class="text-lg font-bold leading-relaxed">{{card.title}}
        </span>
        <span class="text-lg">{{card.content}}</span>
    </div>
    <a class="text-lg font-bold text-blue-block5 underline" href="">{{card.link}}</a>
</div>