<div id="card" class="border border-black border-solid">
    <div id="card__top" class="mt-8 mb-4 mx-4 sm:m-8 sm:mb-4">
        <p>“Great widgets. Great selection. Great design and easy to implement. Definitely a huge time saver
            for a web developer!”</p>
    </div>
    <div id="card__btm" class="flex mb-8 mt-4 mx-4 sm:m-8 sm:mt-4">
        <img class="bg-black w-12 h-12 mr-1 rounded-full" src="" alt="">
        <div>
            <p>Viella Malkovich
            </p>
            <p>
                Creative Director at Johnson</p>
        </div>
    </div>
</div>