<div id="card" class="bg-white border-b-4 border-blue-btn border-solid sm:-mx-6">
    <div id="card__top" class="text-lg pt-8 mb-4 mx-4 sm:mb-4">
        <p>“Great widgets. Great selection. Great design and <span class="font-bold"> easy to implement. </span> Definitely a huge time saver
            for a web developer!”</p>
    </div>
    <div id="card__btm" class="flex mb-8 mt-4 mx-4 sm:mt-4">
        <img class="bg-black w-12 h-12 mr-2 rounded-full" src="" alt="">
        <div>
            <p class="font-bold">Viella Malkovich
            </p>
            <p class="opacity-50">
                Creative Director at Johnson</p>
        </div>
    </div>
</div>